@media all and (max-width: 1000px) {
   .profil-img, .ekstra {
    width: 50%;
    margin-bottom: 50px;
  }
 .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
 .header-right {
  display: none;
  }
  .profil-img {
    width: 100%;
  }
  .heading-extra h2{
    font-size: 30px;
  }

  .ekstra-1{
    height: 1330px;
  }
   .ekstra, .extra{
      width:100%;
   }

 .profil-img:hover .img-box {
  margin-top:-45%;
}
   .menu-icon{
    display:block;
  }

}

@media all and (max-width: 460px) {
   .profil-img:hover .img-box {
      margin-top:-85%;
   }
   
   .menu-icon{
    display:block;
  }
   
   .header-right{
    display:none;
  }
}
