@media all and (max-width: 1000px) {
   .profil-img {
    width: 50%;
    margin-bottom: 50px;
  }
 .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
 .header-right {
  display: none;
  }
  .profil-img {
    width: 100%;
  }
  .heading-extra h2{
    font-size: 30px;
  }

 .profil-img:hover .img-box {
  margin-top:-70%;
}
   .container{
      width:100%;
   }
}
