* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left h3 {
  color: #c9d1c8;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

main{
  padding: 210px 0 150px 0;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('image/main-bg.jpg');
  background-size: cover;
  text-align: center;
  color: white;
}

#span1:hover{
  color: #0070d2;
  transition: all 0.5s;
  cursor: default;
}

#span2:hover{
  color: red;
  transition: all 0.5s;
  cursor: default;
}

main h1{
 font-weight: normal;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.website{
  background-color: #cf3f3d;
}

.hire{
  background-color: #545454;
}

.contact{
  background-color: #ff9a29;
}

.website > span{
  font-size: 20px;
  font-weight: bold;
}

.hire > span{
  font-size: 20px;
  font-weight: bold;
}

.ekstra-1 {
  height: 300px;
  padding-bottom: 80px;
  background-color: #fff;
  text-align: center;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.ekstra {
  float: left;
  width: 25%;
  border: 10px;
}

.ekstra-icon {
  position: relative; 
  margin-right: 20px;
 

}

.ekstra-icon p:hover {
  transform: scale(1.5,2);
}

.ekstra-icon p {
  position: absolute;
  margin-top: 80px;
  top: 90px;
  width: 100%;
  color: #fff;
  transition: 1s;

}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #b3aeb5;
}

.clear{
  clear: left;
}
.extra{
  padding-bottom: 90px;
  text-align: center;
  background-color: #FAF0E6;
}

.heading-extra {
  padding-top: 30px;
  padding-bottom: 10px;
  color: #5f5d60;
}

.heading-extra h2{
  font-family: 'Oleo Script', cursive;
  font-size:50px;
}

.profil-img {
  width:19%;
  height:300px;
  overflow:hidden;
  float:left;
  position: relative;
}

.profil-img h4{
  font-family: 'Acme', sans-serif;
  font-size: 19px;
}
.profil-img h5{
  font-family: 'Acme', sans-serif;
  font-size: 16px;
}

.img-box img{
  border-radius: 50%;
  width:180px;
  height: 180px;
}
.profil-content p{
  font-family: 'Rancho', cursive;
  text-align: justify;
  font-size: 19px;
}
.img-box{
  height:200px;
  transition:margin-top .4s ease-in-out .4s;
  padding: 15px;
}
.profil-content {
  height:400px;
  transition:margin-top .4s ease-in-out .4s;
  padding: 15px;
}

.profil-content h4,
.profil-content p {
  margin:0 0 .2em;
  line-height: 30px;

}

.profil-img:hover .img-box {
  margin-top:-320px;
}
