* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  float: left;
}

.header-left h3 {
  color: #c9d1c8;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

main{
  padding: 210px 0 150px 0;
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('image/main-bg.jpg');
  background-size: cover;
  text-align: center;
  color: white;
}

#span1:hover{
  color: #0070d2;
  transition: all 0.5s;
  cursor: default;
}

#span2:hover{
  color: red;
  transition: all 0.5s;
  cursor: default;
}

main h1{
 font-weight: normal;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0px;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.website{
  background-color: #cf3f3d;
}

.hire{
  background-color: #545454;
}

.contact{
  background-color: #ff9a29;
}

.website > span{
  font-size: 20px;
  font-weight: bold;
}

.hire > span{
  font-size: 20px;
  font-weight: bold;
}
